.patrolReportWrap{
  overflow: hidden;
  width: 1620px;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);

  .patrolReport{
    height: 100%;
    width: 1300px;
    float: left;

    .file-footer {
      height:80px;
      width:1300px;
      box-shadow: #0F2A3F 0px 0px 5px 2px inset;
      position: absolute;
      bottom: 35px;
    }

    .file-explorer{
      box-shadow: #0F2A3F 0px 0px 5px 2px inset;
      position: absolute;
      top: 60px;
      bottom: 130px;      
      width: 1300px;
      margin: auto;
      padding: 5px;
      overflow: auto;
      
      .item-file{
        background-image: url("../img/filemanage/file.png");
      }
      .item-folder{
        background-image: url("../img/filemanage/folder.png"); 
      }
      .item {
        float: left;
        width: 140px;
        height: 170px;
        // border: 1px solid rgba(0, 140, 255, 0.726);
        margin: 5px 20px 5px 20px;
        text-align: center;
        // line-height: 16;
        background-size: 60px 60px;
        background-repeat: no-repeat;
        background-position: top;
        background-position-y: 20px;
        .content {
          position: relative;
          top: 90px;
          line-height: 15px;

          .title {
            font-weight: bolder;
          }
          .detail {
            font-size: 10px;
          }
        }
        
      }
      .item-select {
        box-shadow: #0F2A3F 0px 0px 3px 1px;
      }
      // .item-disselect {
      //   box-shadow: 3px 3px 3px #888888;
      // }

    }

    .btns{
      padding:10px 0px;
      width:1300px;
      .confirmSelect{
        display: none;
      }
      .option-custom {
        color: white;
        background-color: #0f2a3f;
      }
      .border-custom {
        border-color: #0f2a3f !important;
      }
      .btn-customcolor {
        background-color: #0F2A3F !important;
      }
      .search{
        position: relative;
        z-index:2;
        padding-right: 0px;
        width:20%;
        .am-input-group{
          input{
            padding: 0px 8px;
            height: 35px;
            border-color: rgba(0, 155, 255, 0.7);
          }
          .am-input-group-btn{
            cursor: pointer;
            button{
              height:35px;
              line-height: 17px;
              background-color: rgba(0, 155, 255, 0.7);
              border-color: rgba(0, 155, 255, 0.7);
              color:#fff;
              &:hover{
                background-color: rgba(0, 155, 255, 0.6);
                border-color: rgba(0, 155, 255, 0.6);
              }
            }
          }
        }
      }
      .am-g{
        position: relative;
        .am-alert{
          position: absolute;
          top: 0px;
          z-index: 2;
          right: 50px;
          margin-bottom: 0;
          padding: 4px 10px;
        }
        .my-dataWrap{
          padding-right: 0px;
          font-size: 0;
          button{
            margin-right: 0px;
            font-size: 16px;
            outline: none;
            cursor: default;
            color:#fff;
            border:none;
            padding: 8px 11px;
            background-color: rgba(0, 155, 255, 0.7);
            border-color: rgba(0, 155, 255, 0.7);
            display: inline-block;
            vertical-align: top;
            &:hover,&:focus{
              background-color: rgba(0, 155, 255, 0.7);
              border-color: rgba(0, 155, 255, 0.7);
            }
          }
          .my-data{
            font-size: 16px;
            display: inline-block;
            vertical-align: top;
            width:148px;
            line-height: 32px;
            height: 35px;
            cursor: pointer;
            text-align: center;
            border: 1px solid rgba(0, 155, 255, 0.7);
          }
        }
      }
      .areaWrap{
        position: relative;
        z-index:2;
        padding-right:0px;
        .area{
          line-height: 32px;
          height: 32px;
          padding-left:0px;
          padding-right:0px;
        }
        .areaSelect{
          padding-right:0px;
          button{
            height: 35px;
            border: 1px solid rgba(0, 155, 255, 0.7);
          }
          .am-dropdown.am-active {
            .am-btn-default.am-dropdown-toggle {
              background-image: none;
              background-color: #fff;
            }
          }
        }
      }
      .moreSelect{
        height: 35px;
        line-height: 1;
      }
      .confirmSelect{
        height: 35px;
        line-height: 1;
      }
      .theme{
        width: 35px;
        height: 35px;
        display: inline-block;
        float: right;
        cursor: pointer;
        i{
          width: 35px;
          height: 35px;
          font-size: 20px;
          color: #0f2a3f;
        }
      }
    }
    .map{
      display: none;
      position: absolute;
      top: 55px;
      bottom: 10px;
      overflow: hidden;
      margin: 0 !important;
      width: 1300px;
      .amap-info-close{
        display: none;
      }
      .amap-marker{
        img{
          width:32px;
        }
      }
    }
    .reportTable{
      .reportThead{
        border-top:1px solid #c7c8ca;
        font-size:0;
        div{
          font-size:16px;
          display: inline-block;
          line-height: 45px;
          height: 45px;
          text-align: center;
          background-color: #ecf1f5;
          &:nth-child(1){
            width:15%;
          }
          &:nth-child(2){
            width:10%;
          }
          &:nth-child(3){
            width:15%;
          }
          &:nth-child(4){
            width:15%;
          }
          &:nth-child(5){
            width:20%;
          }
          &:nth-child(6){
            width:10%;
          }
          &:nth-child(7){
            width:15%;
          }
        }
      }
    }
    .am-list-news {
      position: absolute;
      top: 101px;
      bottom: 10px;
      overflow: hidden;
      margin: 0!important;
      width: 1300px;
      background-color: #f8f8f8;
      .am-list-news-bd{
        .pull-action {
          text-align: center;
          height: 45px;
          line-height: 45px;
          color: #999;
          display:none;
          .am-icon-spin {
            display: none;
          }
          &.loading{
            .pull-label {
              display: none;
            }
            .am-icon-spin {
              display: block;
            }
          }
        }
        .am-list{
          margin-top:0px;
          margin-bottom:0px!important;
          li{
            font-size: 0;
            div{
              display: inline-block;
              line-height: 40px;
              height: 40px;
              text-align: center;
              color: #666;
              font-size: 14px;
              &:nth-child(1){
                width:15%;
              }
              &:nth-child(2){
                width:10%;
              }
              &:nth-child(3){
                width:15%;
              }
              &:nth-child(4){
                width:15%;
              }
              &:nth-child(5){
                width:20%;
              }
              &:nth-child(6){
                width:10%;
              }
              &:nth-child(7){
                width:15%;
              }
              &:first-child{
                color: #0e90d2;
                cursor: pointer;
                &:hover{
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
    .more-select{
      display: none;
      width: 1300px;
      height: auto;
      border: 1px solid #dadada;
      margin-bottom: 10px;
      .filterContentWrap{
        border-bottom: 1px dashed #dadada;
        padding: 15px 0;
        margin-bottom: 6px;
        margin-top: 6px;
        &:last-child{
          border-bottom: none;
        }
        .filterContentTitle{
          text-align: left;
          font-weight: bold;
          line-height: 40px;
          height: 40px;
          margin-left: 15px;
          display: inline-block;
          background-color: #0F2A3F;
          img{
            width:24px;
            height:24px;
          }
        }
        .filterContentC{
          display: inline-block;
          font-size:14px;
          .pC1{
            display: inline;
            margin-right:4px;
          }
          .pC2{
            display: inline;
            margin-left:4px;
          }
          .filterContentPC{
            flex: 1;
            -webkit-flex: 1;
            div{
              margin: 4px 0px 4px 0px;
              line-height: 30px;
              height: 30px;
              display: inline;
              border-right: 1px dashed #ccc;
              padding: 0px 13px 0px 17px;
              &:last-child{
                border-right: none;
              }
              span{
                padding:0px 2px;
                text-align: center;
                display: inline-block;
                cursor: pointer;
              }
              .title {
                font-size: 14px;
                font-weight: bold;
                color: #0F2A3F;
              }
              .selected1.active{
                color:#fff;
                background-color: #0F2A3F;
              }
              span:nth-child(1){
                padding:0px;
                width:60px;
                display: inline-block;
                text-align: left;
                cursor: default;
              }
              select{
                vertical-align: baseline;
                width:50px;
              }
            }
          }
        }
      }
      .peopleWrap{
        .peopleContent{
          .pC1{
            div{
              span:nth-child(1){
                width:50px;
              }
            }
          }
        }
      }
      .carWrap{
        .carContent{
          .pC1{
            div{
              span:nth-child(1){
                width:36px;
              }
              select{
                width:94px;
              }
            }
          }
        }
      }
    }
  }
  .package {
    float: left;
    $_width: 300px;
    position: relative;
    width: $_width;
    height: 90%;
    transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    top: 52%;
    margin-right:20px;
    
    .ztree li span.button.add {
      margin-left:2px;
      margin-right: -1px;
      background-position:-144px 0;
      vertical-align:top;
      *vertical-align:middle
    }
    $border-color: #0F2A3F;
    .datePackage{
      width: $_width;
      height: 33%;
      border-width: 1px;
      border-top-width: 10px;
      border-style: solid;
      border-color: $border-color;      
      overflow: overlay;
    }
    .areaPackage{
      width: $_width;
      height: 33%;
      border-width: 1px;
      border-top-width: 10px;
      border-style: solid;
      border-color: $border-color;
      overflow: overlay;
    }
    .cunstomPackage{
      width: $_width;
      height: 33%;
      border-width: 1px;
      border-top-width: 10px;
      border-style: solid;
      border-color: $border-color;
      overflow: overlay;
    }
  }
}